

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

$panel-default-heading-bg: #F0F0F0;

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Navbar Side
/*@import 'sidebar';*/

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 20px;
}

.prayers-section {
	margin-top: 70px;
}

.row {clear: both;}

@media (max-width: 768px) {
    body {
        padding-bottom: 200px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
