

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

$panel-default-heading-bg: #F0F0F0;

$panel-success-heading-bg: #A8A8A8;
$panel-success-border: #A8A8A8;
$panel-success-text: #ffffff;

$btn-disabled-color: #ffffff;
$btn-disabled-bg: #DEDEDE;
$btn-disabled-border: #DEDEDE;

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Disabled appears as Grey
.btn-disabled {
  @include button-variant($btn-disabled-color, $btn-disabled-bg, $btn-disabled-border);
}

// Navbar Side
/*@import 'sidebar';*/

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 20px;
}

.prayers-section {
	margin-top: 70px;
}

.row {clear: both;}

.prayer-user {
  font-size: 16px;
}

@media (max-width: $grid-float-breakpoint-max) {
    .navbar-nav a {
      text-align: right;
    }
    .navbar-brand {
      padding-right: 0px;
    }
}

@media screen and (max-height: 575px){
#rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.popover-title {
  color: #000000;
}

.full-height {
  height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    color: #ffffff;
}
